body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #5ee7df, #b490ca);
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

#acceptedOffers {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


#acceptedOffers h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}


.user-info {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


.user-info h3 {
    margin-top: 0;
    font-size: 18px;
    color: #555;
}


label {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}


input[type="checkbox"] {
    margin-bottom: 5px;
}


#acceptedOffers button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#acceptedOffers button[type="submit"]:hover {
    background-color: #45a049;
}


.error-message {
    color: #ff6347; 
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}


.success-message {
    color: #32CD32; 
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

#getHelloButton {
    width: 80px;
    height: 45px;
    border-radius: 7px;
    background-color: skyblue;
    font-family: 'Times New Roman', Times, serif;
}

#getHelloButton:hover {
    background-color: rgb(92, 169, 199);
    color: white;
}
