body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff416c, #ff4b2b); /* Exemplu de gradient */
    
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

.modify-profile {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modify-profile form {
    text-align: left;
}

.modify-profile h2 {
    margin-bottom: 20px;
}

.modify-profile label {
    display: block;
    margin-bottom: 10px;
}

.modify-profile input[type="text"],
.modify-profile input[type="tel"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modify-profile button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modify-profile button:hover {
    background-color: #0056b3;
}


