* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.4) 100%), url("http://localhost/ProjectTW/images/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif; 
}


.nac-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
}

.nac-container a {
    text-decoration: none;
    color: black; 
    font-size: 20px;
    padding: 10px 10px;
}

.nac-container a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}


.middleOfPage {
    max-width: 800px;
    margin: 0 20px; 
    padding: 20px;
}

.middleOfPage #titlu1,
.middleOfPage #titlu2,
.middleOfPage #titlu3,
.middleOfPage #prezentare,
.middleOfPage #joinBtn {
    text-align: left;
    margin-left: 2px; 
}

.middleOfPage #prezentare {
    text-align: justify;
    color: white;
    font-size: 23px;
}

.middleOfPage #joinBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.middleOfPage #joinBtn:hover {
    background-color: #0056b3;
}

.middleOfPage #titlu1,
.middleOfPage #titlu3
{
    margin-top: 30px;
    color: white;
    font-size: 25px;
}

.middleOfPage #titlu2
{
    margin-top: 30px;
    font-size: 30px;
    color: skyblue;
}


@media (max-width: 768px) {
    .middleOfPage {
        padding: 15px;
    }

    .middleOfPage #prezentare {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .middleOfPage {
        padding: 10px;
    }

    .middleOfPage #prezentare {
        font-size: 14px;
    }

    .middleOfPage #titlu1,
    .middleOfPage #titlu2,
    .middleOfPage #titlu3 {
        font-size: 24px;
    }

    .middleOfPage #joinBtn {
        font-size: 14px;
    }
}



