body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #333; 
}

header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}


.user-info {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}


.user-info .user-data {
    margin-bottom: 15px;
}

.user-info .user-data h2 {
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #555;
}

.user-info .user-data p {
    font-size: 1.1em;
    color: #333;
    margin: 0;
}


.user-info .username .value {
    color: #007bff;
    font-weight: bold;
}

.user-info .city .value {
    color: #28a745; 
}

.user-info .contact .value {
    color: #dc3545;
}
